<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>WARTEG Marapat</title>
    <!--Fonts-->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
      rel="stylesheet"
    />
    <!--Feather Icon-->
    <script src="https://unpkg.com/feather-icons"></script>
    <!--CSS-->
    <link rel="stylesheet" href="../css/style.css" />
  </head>
<body>
    <!--navbar start-->
    <nav class="navbar">
        <a href="#" class="navbar-logo">Warteg<span>MARAPAT</span>.</a>

        <div class="navbar-nav">
            <a href="../index.html">Home</a>
            <a href="menu.html">Menu</a>
            <a href="#">About Us</a>
            <a href="contact.html">Contact Us</a>
            </div>

            <div class="navbar-extra">
                <a href="#" id="hamburger-menu"><i data-feather="menu"></i></a>
            </div>
        </nav>
        <!--navbar end-->

            <!--About-->
    <section id="about" class="about">
        <h2 style="margin-top: 2rem;">About <span>Us</span></h2>
        <!--Sejarah-->
        <div class="row">
          <div class="about-img">
            <img src="../img/Slogan.png" alt="tentang-kami" />
          </div>
          <div class="content">
            <h3>Tentang Warteg Marapat</h3>
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Veritatis
              dolor dicta architecto ad facilis debitis!
            </p>
            <p>
              Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quaerat
              nostrum quasi illum laborum quia asperiores commodi. Distinctio sint
              consequuntur perspiciatis.
            </p>
          </div>
        </div>
        <!--Sejarah end-->
        <!--Team Managemen-->
        <h2 style="margin: 1rem;">Team War<span>teg Marapat</span></h2>
        <div id="team" class="team">
          <div class="team-card">
            <img src="../img/team/gordon.jpg" alt="" class="team-card-img">
            <h3 class="team-card-name"> Chef Gordon Ramsay</h3>
            <h5 class="team-card-position">Pendiri</h5>
          </div>
          <div class="team-card">
            <img src="../img/team/arnold.jpg" alt="" class="team-card-img">
            <h3 class="team-card-name">Chef Arnold Purnomo</h3>
            <h5 class="team-card-position">Pengurus</h5>
          </div>
          <div class="team-card">
            <img src="../img/team/juna.jpg" alt="" class="team-card-img">
            <h3 class="team-card-name">Chef Juna</h3>
            <h5 class="team-card-position">Pengurus</h5>
          </div>
          <div class="team-card">
            <img src="../img/team/renata.jpg" alt="" class="team-card-img">
            <h3 class="team-card-name">Chef Renatta</h3>
            <h5 class="team-card-position">Pengurus</h5>
          </div>
          <div class="team-card">
            <img src="../img/team/Kim Jiwon.jpg" alt="" class="team-card-img">
            <h3 class="team-card-name">Kim Jiwon</h3>
            <h5 class="team-card-position">Influencer</h5>
          </div>
        </div>
        <!--Team Managemen End-->
      </section>
      <!--About end-->



        <!--Footer-->
        <footer>
            <div class="socials">
              <a href="#"><i data-feather="instagram"></i></a>
              <a href="#"><i data-feather="facebook"></i></a>
            </div>
            <div class="links">
              <a href="../index.html">Home</a>
              <a href="#">Tentang Kami</a>
              <a href="menu.html">Menu</a>
              <a href="contact.html">Contact</a>
            </div>
            <div class="credit">
              <p>Created by <a href="">M. Ibrah Bayuara</a>. | &Copyright; 2023</p>
            </div>
          </footer>
          <!--Footer end-->
      
          <!--Feather Icon-->
          <script>
            feather.replace();
          </script>
</body>
</html>